# Must be renamed to .env
# in order to be detected

# SERVER
ENV=local
SERVER_PORT=8000

# POSTGRES
POSTGRES_PORT=5432
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_pass
POSTGRES_DB=uniwork
POSTGRES_CONNECTION_STRING=postgresql://test_user:test_pass@db:5432/uniwork?sslmode=disable
