# Node modules
node_modules/

# Coverage
.coverage/

# Logs
*.log

# Environment variables
.env

# IDE configs
.idea

# Firebase admin-sdk credentials
.firebase.json

# Test storage
.jest-localstorage